@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');

.wrapper {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }

  .float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:2%;
    right:5%;
    background-color:black;
    color:white;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 6px #66676d;
  }
  
  .my-float{
    margin-top:22px;
    size: 
  }
  
  header {
    padding: 10px 0;
    font-family: Quicksand;
    background-color:black;
    margin-bottom: 5px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    color: white;
    width: 100%;
    text-align: center;
    position:sticky;
    top:0;
    border-radius: 0 0 10px 10px;
  }
  
  header h1 {
    font-size: 40px;
    font-weight: 500;
    margin: 0;
    box-shadow: none;
    
  }
  
  header nav {
    display: flex;
    justify-content: center;
    font-weight: light;

    
  }
  
  header p {
    font-weight: light;
    
    padding: 0 10px;
    margin: 0;
  }
  
  .jumbotron {
    display: flex;
    height: 50px;
    width: 100%;
  }
  

  
  @media only screen and (max-width: 700px) {
    .jumbotron {
      margin-top: 10px;
    }
  }
  
  .card {
    background: #fff;
    border: 5px solid #fff;
    border-radius: 2px;
    margin: 30px 10px;
    position: inherit;
    height: 100%;
    width: 400px;
    box-shadow: 0 2px 4px #999, 0 2px 4px #999;
    transition: box-shadow 0.1s ease-in-out;
    text-align: left;
  }
  
  .card:hover {
    box-shadow: 0 12px 24px #999, 0 12px 24px #999;
  }
  
  .card>.img-container {
    overflow: hidden;
    text-align: center;
  }
  
  .card>.img-container>img {
    width: 100%
  }
  .card>.img-content {
    padding-left: 0.5rem;
    padding-right: 1rem;
    font-size: 12px;
  }
  .meme-footer {
    font-family: Quicksand;
  }
  
  
  
  
  .animate {
    animation: shake 0.5s;
  }
  
  @media only screen and (max-width: 600px) {
    .card:hover {
      box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    }
  }

  @media only screen and (min-width:768px){
    header {
        text-align:left;
    }
    header nav {
        display: flex;
        justify-content: right;
        font-weight: light;
        
      }
  }